In [1]:
import pandas as pd 

df = pd.read_csv('student_data.csv')

print(df)

   StudentID          FullName  Data Structure Marks  Algorithm Marks  \
0     PH1001       Alif Rahman                  85.0             85.0
1     PH1002     Fatima Akhter                  92.0             92.0
2     PH1003     Imran Hossain                  88.0             88.0
3     PH1004  Jannatul Ferdous                  78.0             78.0
4     PH1005       Kamal Uddin                   NaN              NaN
5     PH1006       Laila Begum                  75.0             75.0
6     PH1007    Mahmudul Hasan                  80.0             80.0
7     PH1008       Nadia Islam                  81.0             81.0
8     PH1009        Omar Faruq                  72.0             72.0
9     PH1010      Priya Sharma                  89.0             89.0
10    PH1011      Rahim Sheikh                   NaN              NaN
11    PH1012   Sadia Chowdhury                  85.0             85.0
12    PH1013      Tanvir Ahmed                  75.0             75.0
13    PH1014        Urmi Akter                   NaN              NaN
14    PH1015      Wahiduzzaman                  86.0             86.0
15    PH1016      Ziaur Rahman                  94.0             94.0
16    PH1017       Afsana Mimi                  90.0             90.0
17    PH1018       Babul Ahmed                  88.0             88.0
18    PH1019      Faria Rahman                   NaN              NaN
19    PH1020        Nasir Khan                  86.0             86.0

    Python Marks CompletionStatus EnrollmentDate Instructor    Location
0           88.0        Completed     2024-01-15  Mr. Karim       Dhaka
1            NaN      In Progress     2024-01-20  Ms. Salma  Chattogram
2           85.0        Completed     2024-02-10  Mr. Karim       Dhaka
3           82.0        Completed     2024-02-12  Ms. Salma      Sylhet
4           95.0      In Progress     2024-03-05  Mr. Karim  Chattogram
5           78.0        Completed     2024-03-08  Ms. Salma    Rajshahi
6            NaN      In Progress     2024-04-01  Mr. Karim       Dhaka
7           85.0        Completed     2024-04-22  Ms. Salma  Chattogram
8           76.0        Completed     2024-05-16  Mr. David       Dhaka
9           88.0        Completed     2024-05-20  Ms. Salma      Sylhet
10          91.0      In Progress     2024-06-11  Mr. Karim      Khulna
11          87.0        Completed     2024-06-14  Ms. Salma  Chattogram
12          79.0        Completed     2024-07-02  Mr. David       Dhaka
13           NaN      Not Started     2024-07-09  Ms. Salma    Rajshahi
14          84.0        Completed     2024-08-18  Mr. Karim       Dhaka
15           NaN      In Progress     2024-08-21  Ms. Salma  Chattogram
16          93.0        Completed     2025-09-01  Mr. Karim       Dhaka
17          85.0        Completed     2025-09-05  Ms. Salma      Sylhet
18           NaN      Not Started     2025-09-15  Mr. David  Chattogram
19          89.0        Completed     2025-10-02  Ms. Salma       Dhaka

In [2]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [6]:
sID = df['StudentID']
print(sID)

0     PH1001
1     PH1002
2     PH1003
3     PH1004
4     PH1005
5     PH1006
6     PH1007
7     PH1008
8     PH1009
9     PH1010
10    PH1011
11    PH1012
12    PH1013
13    PH1014
14    PH1015
15    PH1016
16    PH1017
17    PH1018
18    PH1019
19    PH1020
Name: StudentID, dtype: object

Working with Different file types in Pandas

In [7]:
csv_data = pd.read_csv('student_data.csv')
print(csv_data)

   StudentID          FullName  Data Structure Marks  Algorithm Marks  \
0     PH1001       Alif Rahman                  85.0             85.0
1     PH1002     Fatima Akhter                  92.0             92.0
2     PH1003     Imran Hossain                  88.0             88.0
3     PH1004  Jannatul Ferdous                  78.0             78.0
4     PH1005       Kamal Uddin                   NaN              NaN
5     PH1006       Laila Begum                  75.0             75.0
6     PH1007    Mahmudul Hasan                  80.0             80.0
7     PH1008       Nadia Islam                  81.0             81.0
8     PH1009        Omar Faruq                  72.0             72.0
9     PH1010      Priya Sharma                  89.0             89.0
10    PH1011      Rahim Sheikh                   NaN              NaN
11    PH1012   Sadia Chowdhury                  85.0             85.0
12    PH1013      Tanvir Ahmed                  75.0             75.0
13    PH1014        Urmi Akter                   NaN              NaN
14    PH1015      Wahiduzzaman                  86.0             86.0
15    PH1016      Ziaur Rahman                  94.0             94.0
16    PH1017       Afsana Mimi                  90.0             90.0
17    PH1018       Babul Ahmed                  88.0             88.0
18    PH1019      Faria Rahman                   NaN              NaN
19    PH1020        Nasir Khan                  86.0             86.0

    Python Marks CompletionStatus EnrollmentDate Instructor    Location
0           88.0        Completed     2024-01-15  Mr. Karim       Dhaka
1            NaN      In Progress     2024-01-20  Ms. Salma  Chattogram
2           85.0        Completed     2024-02-10  Mr. Karim       Dhaka
3           82.0        Completed     2024-02-12  Ms. Salma      Sylhet
4           95.0      In Progress     2024-03-05  Mr. Karim  Chattogram
5           78.0        Completed     2024-03-08  Ms. Salma    Rajshahi
6            NaN      In Progress     2024-04-01  Mr. Karim       Dhaka
7           85.0        Completed     2024-04-22  Ms. Salma  Chattogram
8           76.0        Completed     2024-05-16  Mr. David       Dhaka
9           88.0        Completed     2024-05-20  Ms. Salma      Sylhet
10          91.0      In Progress     2024-06-11  Mr. Karim      Khulna
11          87.0        Completed     2024-06-14  Ms. Salma  Chattogram
12          79.0        Completed     2024-07-02  Mr. David       Dhaka
13           NaN      Not Started     2024-07-09  Ms. Salma    Rajshahi
14          84.0        Completed     2024-08-18  Mr. Karim       Dhaka
15           NaN      In Progress     2024-08-21  Ms. Salma  Chattogram
16          93.0        Completed     2025-09-01  Mr. Karim       Dhaka
17          85.0        Completed     2025-09-05  Ms. Salma      Sylhet
18           NaN      Not Started     2025-09-15  Mr. David  Chattogram
19          89.0        Completed     2025-10-02  Ms. Salma       Dhaka

In [8]:
ex = pd.read_excel('phitron_student_marks.xlsx')
print(ex)

   StudentID          FullName  Data Structure Marks  Algorithm Marks  \
0     PH1001       Alif Rahman                  85.0             85.0
1     PH1002     Fatima Akhter                  92.0             92.0
2     PH1003     Imran Hossain                  88.0             88.0
3     PH1004  Jannatul Ferdous                  78.0             78.0
4     PH1005       Kamal Uddin                   NaN              NaN
5     PH1006       Laila Begum                  75.0             75.0
6     PH1007    Mahmudul Hasan                  80.0             80.0
7     PH1008       Nadia Islam                  81.0             81.0
8     PH1009        Omar Faruq                  72.0             72.0
9     PH1010      Priya Sharma                  89.0             89.0
10    PH1011      Rahim Sheikh                   NaN              NaN
11    PH1012   Sadia Chowdhury                  85.0             85.0
12    PH1013      Tanvir Ahmed                  75.0             75.0
13    PH1014        Urmi Akter                   NaN              NaN
14    PH1015      Wahiduzzaman                  86.0             86.0
15    PH1016      Ziaur Rahman                  94.0             94.0
16    PH1017       Afsana Mimi                  90.0             90.0
17    PH1018       Babul Ahmed                  88.0             88.0
18    PH1019      Faria Rahman                   NaN              NaN
19    PH1020        Nasir Khan                  86.0             86.0

    Python Marks CompletionStatus EnrollmentDate Instructor    Location
0           88.0        Completed     2024-01-15  Mr. Karim       Dhaka
1            NaN      In Progress     2024-01-20  Ms. Salma  Chattogram
2           85.0        Completed     2024-02-10  Mr. Karim       Dhaka
3           82.0        Completed     2024-02-12  Ms. Salma      Sylhet
4           95.0      In Progress     2024-03-05  Mr. Karim  Chattogram
5           78.0        Completed     2024-03-08  Ms. Salma    Rajshahi
6            NaN      In Progress     2024-04-01  Mr. Karim       Dhaka
7           85.0        Completed     2024-04-22  Ms. Salma  Chattogram
8           76.0        Completed     2024-05-16  Mr. David       Dhaka
9           88.0        Completed     2024-05-20  Ms. Salma      Sylhet
10          91.0      In Progress     2024-06-11  Mr. Karim      Khulna
11          87.0        Completed     2024-06-14  Ms. Salma  Chattogram
12          79.0        Completed     2024-07-02  Mr. David       Dhaka
13           NaN      Not Started     2024-07-09  Ms. Salma    Rajshahi
14          84.0        Completed     2024-08-18  Mr. Karim       Dhaka
15           NaN      In Progress     2024-08-21  Ms. Salma  Chattogram
16          93.0        Completed     2025-09-01  Mr. Karim       Dhaka
17          85.0        Completed     2025-09-05  Ms. Salma      Sylhet
18           NaN      Not Started     2025-09-15  Mr. David  Chattogram
19          89.0        Completed     2025-10-02  Ms. Salma       Dhaka

Pandas Basic Functionalities

In [10]:
df = pd.read_csv('student_data.csv')
print(df)

   StudentID          FullName  Data Structure Marks  Algorithm Marks  \
0     PH1001       Alif Rahman                  85.0             85.0
1     PH1002     Fatima Akhter                  92.0             92.0
2     PH1003     Imran Hossain                  88.0             88.0
3     PH1004  Jannatul Ferdous                  78.0             78.0
4     PH1005       Kamal Uddin                   NaN              NaN
5     PH1006       Laila Begum                  75.0             75.0
6     PH1007    Mahmudul Hasan                  80.0             80.0
7     PH1008       Nadia Islam                  81.0             81.0
8     PH1009        Omar Faruq                  72.0             72.0
9     PH1010      Priya Sharma                  89.0             89.0
10    PH1011      Rahim Sheikh                   NaN              NaN
11    PH1012   Sadia Chowdhury                  85.0             85.0
12    PH1013      Tanvir Ahmed                  75.0             75.0
13    PH1014        Urmi Akter                   NaN              NaN
14    PH1015      Wahiduzzaman                  86.0             86.0
15    PH1016      Ziaur Rahman                  94.0             94.0
16    PH1017       Afsana Mimi                  90.0             90.0
17    PH1018       Babul Ahmed                  88.0             88.0
18    PH1019      Faria Rahman                   NaN              NaN
19    PH1020        Nasir Khan                  86.0             86.0

    Python Marks CompletionStatus EnrollmentDate Instructor    Location
0           88.0        Completed     2024-01-15  Mr. Karim       Dhaka
1            NaN      In Progress     2024-01-20  Ms. Salma  Chattogram
2           85.0        Completed     2024-02-10  Mr. Karim       Dhaka
3           82.0        Completed     2024-02-12  Ms. Salma      Sylhet
4           95.0      In Progress     2024-03-05  Mr. Karim  Chattogram
5           78.0        Completed     2024-03-08  Ms. Salma    Rajshahi
6            NaN      In Progress     2024-04-01  Mr. Karim       Dhaka
7           85.0        Completed     2024-04-22  Ms. Salma  Chattogram
8           76.0        Completed     2024-05-16  Mr. David       Dhaka
9           88.0        Completed     2024-05-20  Ms. Salma      Sylhet
10          91.0      In Progress     2024-06-11  Mr. Karim      Khulna
11          87.0        Completed     2024-06-14  Ms. Salma  Chattogram
12          79.0        Completed     2024-07-02  Mr. David       Dhaka
13           NaN      Not Started     2024-07-09  Ms. Salma    Rajshahi
14          84.0        Completed     2024-08-18  Mr. Karim       Dhaka
15           NaN      In Progress     2024-08-21  Ms. Salma  Chattogram
16          93.0        Completed     2025-09-01  Mr. Karim       Dhaka
17          85.0        Completed     2025-09-05  Ms. Salma      Sylhet
18           NaN      Not Started     2025-09-15  Mr. David  Chattogram
19          89.0        Completed     2025-10-02  Ms. Salma       Dhaka

In [12]:
df.head(8)

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location
0,PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Mr. Karim,Dhaka
1,PH1002,Fatima Akhter,92.0,92.0,NaN,In Progress,2024-01-20,Ms. Salma,Chattogram
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet
4,PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Mr. Karim,Chattogram
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Ms. Salma,Rajshahi
6,PH1007,Mahmudul Hasan,80.0,80.0,NaN,In Progress,2024-04-01,Mr. Karim,Dhaka
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Ms. Salma,Chattogram

In [13]:
df.tail()

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location
15,PH1016,Ziaur Rahman,94.0,94.0,NaN,In Progress,2024-08-21,Ms. Salma,Chattogram
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Mr. Karim,Dhaka
17,PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,2025-09-05,Ms. Salma,Sylhet
18,PH1019,Faria Rahman,NaN,NaN,NaN,Not Started,2025-09-15,Mr. David,Chattogram
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Ms. Salma,Dhaka

In [15]:
df.columns

col = list(df.columns)

print(col)

['StudentID', 'FullName', 'Data Structure Marks', 'Algorithm Marks', 'Python Marks', 'CompletionStatus', 'EnrollmentDate', 'Instructor', 'Location']

In [18]:
import numpy as np
df.index
i = np.array(df.index)
print(i)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   StudentID             20 non-null     object
 1   FullName              20 non-null     object
 2   Data Structure Marks  16 non-null     float64
 3   Algorithm Marks       16 non-null     float64
 4   Python Marks          15 non-null     float64
 5   CompletionStatus      20 non-null     object
 6   EnrollmentDate        20 non-null     object
 7   Instructor            20 non-null     object
 8   Location              20 non-null     object
dtypes: float64(3), object(6)
memory usage: 1.5+ KB

In [21]:
df.sample(10)

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location
11,PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,2024-06-14,Ms. Salma,Chattogram
13,PH1014,Urmi Akter,NaN,NaN,NaN,Not Started,2024-07-09,Ms. Salma,Rajshahi
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka
10,PH1011,Rahim Sheikh,NaN,NaN,91.0,In Progress,2024-06-11,Mr. Karim,Khulna
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet
15,PH1016,Ziaur Rahman,94.0,94.0,NaN,In Progress,2024-08-21,Ms. Salma,Chattogram
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Ms. Salma,Chattogram
14,PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,2024-08-18,Mr. Karim,Dhaka
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Mr. Karim,Dhaka
4,PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Mr. Karim,Chattogram

In [22]:
df.describe()

       Data Structure Marks  Algorithm Marks  Python Marks
count             16.000000        16.000000     15.000000
mean              84.000000        84.000000     85.666667
std                6.501282         6.501282      5.394000
min               72.000000        72.000000     76.000000
25%               79.500000        79.500000     83.000000
50%               85.500000        85.500000     85.000000
75%               88.250000        88.250000     88.500000
max               94.000000        94.000000     95.000000

In [ ]:
Dataframe from Inbuilt Data with Column and Indexes

In [27]:
l = [['Alice', 25], ['Bob', 30], ['Charlie', 28]]

list_df = pd.DataFrame(l,columns=['Name','Age'],index=[1,2,3]) 

print(type(list_df)) 
list_df

<class 'pandas.core.frame.DataFrame'>

      Name  Age
1    Alice   25
2      Bob   30
3  Charlie   28

In [29]:
my_tuple = (('Alice', 25), ('Bob', 30), ('Charlie', 28))

tuple_df = pd.DataFrame(my_tuple,columns=['Name','Age'])

tuple_df

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   28

In [30]:
my_dict = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 29,28]
}

dict_df = pd.DataFrame(my_dict)

dict_df

      Name  Age
0    Alice   25
1      Bob   29
2  Charlie   28

In [31]:
my_data = [
    {'Name': 'Alice', 'Age': 25, 'City': 'New York'},
    {'Name': 'Bob', 'Age': 30, 'City': 'Paris'},
    {'Name': 'Charlie', 'Age': 28}
]

data_df = pd.DataFrame(my_data)
data_df

      Name  Age      City
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   28       NaN

In [ ]:
Accessing Data with Index and Column

In [32]:
df

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location
0,PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Mr. Karim,Dhaka
1,PH1002,Fatima Akhter,92.0,92.0,NaN,In Progress,2024-01-20,Ms. Salma,Chattogram
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet
4,PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Mr. Karim,Chattogram
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Ms. Salma,Rajshahi
6,PH1007,Mahmudul Hasan,80.0,80.0,NaN,In Progress,2024-04-01,Mr. Karim,Dhaka
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Ms. Salma,Chattogram
8,PH1009,Omar Faruq,72.0,72.0,76.0,Completed,2024-05-16,Mr. David,Dhaka
9,PH1010,Priya Sharma,89.0,89.0,88.0,Completed,2024-05-20,Ms. Salma,Sylhet
10,PH1011,Rahim Sheikh,NaN,NaN,91.0,In Progress,2024-06-11,Mr. Karim,Khulna
11,PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,2024-06-14,Ms. Salma,Chattogram
12,PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,2024-07-02,Mr. David,Dhaka
13,PH1014,Urmi Akter,NaN,NaN,NaN,Not Started,2024-07-09,Ms. Salma,Rajshahi
14,PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,2024-08-18,Mr. Karim,Dhaka
15,PH1016,Ziaur Rahman,94.0,94.0,NaN,In Progress,2024-08-21,Ms. Salma,Chattogram
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Mr. Karim,Dhaka
17,PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,2025-09-05,Ms. Salma,Sylhet
18,PH1019,Faria Rahman,NaN,NaN,NaN,Not Started,2025-09-15,Mr. David,Chattogram
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Ms. Salma,Dhaka

In [44]:
df['FullName']
type(df['FullName'])

pandas.core.series.Series

In [45]:
#loc[row(index),column(feature)]

df.loc[0] # start:end,col_start:col_end

StudentID                    PH1001
FullName                Alif Rahman
Data Structure Marks           85.0
Algorithm Marks                85.0
Python Marks                   88.0
CompletionStatus          Completed
EnrollmentDate           2024-01-15
Instructor                Mr. Karim
Location                      Dhaka
Name: 0, dtype: object

In [46]:
df.loc[[2,3,19]]

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Ms. Salma,Dhaka

In [47]:
df.loc[3:7]

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet
4,PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Mr. Karim,Chattogram
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Ms. Salma,Rajshahi
6,PH1007,Mahmudul Hasan,80.0,80.0,NaN,In Progress,2024-04-01,Mr. Karim,Dhaka
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Ms. Salma,Chattogram

In [49]:
df.loc[:,['Python Marks','Algorithm Marks']]

    Python Marks  Algorithm Marks
0           88.0             85.0
1            NaN             92.0
2           85.0             88.0
3           82.0             78.0
4           95.0              NaN
5           78.0             75.0
6            NaN             80.0
7           85.0             81.0
8           76.0             72.0
9           88.0             89.0
10          91.0              NaN
11          87.0             85.0
12          79.0             75.0
13           NaN              NaN
14          84.0             86.0
15           NaN             94.0
16          93.0             90.0
17          85.0             88.0
18           NaN              NaN
19          89.0             86.0

In [51]:
df.loc[3:7,'CompletionStatus']

3      Completed
4    In Progress
5      Completed
6    In Progress
7      Completed
Name: CompletionStatus, dtype: object

In [ ]:
 Changing Index and Columns and iloc

In [52]:
df_index = df.set_index('StudentID')
df_index

,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location
StudentID,,,,,,,,
PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Mr. Karim,Dhaka
PH1002,Fatima Akhter,92.0,92.0,NaN,In Progress,2024-01-20,Ms. Salma,Chattogram
PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka
PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet
PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Mr. Karim,Chattogram
PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Ms. Salma,Rajshahi
PH1007,Mahmudul Hasan,80.0,80.0,NaN,In Progress,2024-04-01,Mr. Karim,Dhaka
PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Ms. Salma,Chattogram
PH1009,Omar Faruq,72.0,72.0,76.0,Completed,2024-05-16,Mr. David,Dhaka
PH1010,Priya Sharma,89.0,89.0,88.0,Completed,2024-05-20,Ms. Salma,Sylhet
PH1011,Rahim Sheikh,NaN,NaN,91.0,In Progress,2024-06-11,Mr. Karim,Khulna
PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,2024-06-14,Ms. Salma,Chattogram
PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,2024-07-02,Mr. David,Dhaka
PH1014,Urmi Akter,NaN,NaN,NaN,Not Started,2024-07-09,Ms. Salma,Rajshahi
PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,2024-08-18,Mr. Karim,Dhaka
PH1016,Ziaur Rahman,94.0,94.0,NaN,In Progress,2024-08-21,Ms. Salma,Chattogram
PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Mr. Karim,Dhaka
PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,2025-09-05,Ms. Salma,Sylhet
PH1019,Faria Rahman,NaN,NaN,NaN,Not Started,2025-09-15,Mr. David,Chattogram
PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Ms. Salma,Dhaka

In [55]:
df_index.iloc[3:7]

,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location
StudentID,,,,,,,,
PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet
PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Mr. Karim,Chattogram
PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Ms. Salma,Rajshahi
PH1007,Mahmudul Hasan,80.0,80.0,NaN,In Progress,2024-04-01,Mr. Karim,Dhaka

In [56]:
df_index.iloc[:,1:3]

           Data Structure Marks  Algorithm Marks
StudentID
PH1001                     85.0             85.0
PH1002                     92.0             92.0
PH1003                     88.0             88.0
PH1004                     78.0             78.0
PH1005                      NaN              NaN
PH1006                     75.0             75.0
PH1007                     80.0             80.0
PH1008                     81.0             81.0
PH1009                     72.0             72.0
PH1010                     89.0             89.0
PH1011                      NaN              NaN
PH1012                     85.0             85.0
PH1013                     75.0             75.0
PH1014                      NaN              NaN
PH1015                     86.0             86.0
PH1016                     94.0             94.0
PH1017                     90.0             90.0
PH1018                     88.0             88.0
PH1019                      NaN              NaN
PH1020                     86.0             86.0

In [114]:
df.rename(columns={'FullName' : 'Full Name','Algorithm Marks' : 'Algo Marks'},inplace=True) 
df

,StudentID,Full Name,Data Structure Marks,Algo Marks,Python Marks,CompletionStatus
1,PH1002,Fatima Akhter,92.0,92.0,NaN,In Progress
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed
4,PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed
6,PH1007,Mahmudul Hasan,80.0,80.0,NaN,In Progress
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed
8,PH1009,Omar Faruq,72.0,72.0,76.0,Completed
9,PH1010,Priya Sharma,89.0,89.0,88.0,Completed
10,PH1011,Rahim Sheikh,NaN,NaN,91.0,In Progress
11,PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed
12,PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed
13,PH1014,Urmi Akter,NaN,NaN,NaN,Not Started
14,PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed
15,PH1016,Ziaur Rahman,94.0,94.0,NaN,In Progress
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed
17,PH1018,Babul Ahmed,88.0,88.0,85.0,Completed
18,PH1019,Faria Rahman,NaN,NaN,NaN,Not Started
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed

In [ ]:
Dropping rows and columns,Assigning values and Iteration

In [115]:
df.drop(1,inplace=True)
df

,StudentID,Full Name,Data Structure Marks,Algo Marks,Python Marks,CompletionStatus
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed
4,PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed
6,PH1007,Mahmudul Hasan,80.0,80.0,NaN,In Progress
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed
8,PH1009,Omar Faruq,72.0,72.0,76.0,Completed
9,PH1010,Priya Sharma,89.0,89.0,88.0,Completed
10,PH1011,Rahim Sheikh,NaN,NaN,91.0,In Progress
11,PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed
12,PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed
13,PH1014,Urmi Akter,NaN,NaN,NaN,Not Started
14,PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed
15,PH1016,Ziaur Rahman,94.0,94.0,NaN,In Progress
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed
17,PH1018,Babul Ahmed,88.0,88.0,85.0,Completed
18,PH1019,Faria Rahman,NaN,NaN,NaN,Not Started
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed

In [118]:
df.drop('CompletionStatus',axis=1, inplace=True)
df

   StudentID         Full Name  Data Structure Marks  Algo Marks  Python Marks
2     PH1003     Imran Hossain                  88.0        88.0          85.0
3     PH1004  Jannatul Ferdous                  78.0        78.0          82.0
4     PH1005       Kamal Uddin                   NaN         NaN          95.0
5     PH1006       Laila Begum                  75.0        75.0          78.0
6     PH1007    Mahmudul Hasan                  80.0        80.0           NaN
7     PH1008       Nadia Islam                  81.0        81.0          85.0
8     PH1009        Omar Faruq                  72.0        72.0          76.0
9     PH1010      Priya Sharma                  89.0        89.0          88.0
10    PH1011      Rahim Sheikh                   NaN         NaN          91.0
11    PH1012   Sadia Chowdhury                  85.0        85.0          87.0
12    PH1013      Tanvir Ahmed                  75.0        75.0          79.0
13    PH1014        Urmi Akter                   NaN         NaN           NaN
14    PH1015      Wahiduzzaman                  86.0        86.0          84.0
15    PH1016      Ziaur Rahman                  94.0        94.0           NaN
16    PH1017       Afsana Mimi                  90.0        90.0          93.0
17    PH1018       Babul Ahmed                  88.0        88.0          85.0
18    PH1019      Faria Rahman                   NaN         NaN           NaN
19    PH1020        Nasir Khan                  86.0        86.0          89.0

In [120]:
df.loc[2,'Python Marks'] = 90
df.head(5)

  StudentID         Full Name  Data Structure Marks  Algo Marks  Python Marks
2    PH1003     Imran Hossain                  88.0        88.0          90.0
3    PH1004  Jannatul Ferdous                  78.0        78.0          82.0
4    PH1005       Kamal Uddin                   NaN         NaN          95.0
5    PH1006       Laila Begum                  75.0        75.0          78.0
6    PH1007    Mahmudul Hasan                  80.0        80.0           NaN

In [122]:
df.loc[2:4,'Python Marks']+=2
df.head()

  StudentID         Full Name  Data Structure Marks  Algo Marks  Python Marks
2    PH1003     Imran Hossain                  88.0        88.0          92.0
3    PH1004  Jannatul Ferdous                  78.0        78.0          84.0
4    PH1005       Kamal Uddin                   NaN         NaN          97.0
5    PH1006       Laila Begum                  75.0        75.0          78.0
6    PH1007    Mahmudul Hasan                  80.0        80.0           NaN

In [ ]:
Sorting a DF

In [123]:
df

   StudentID         Full Name  Data Structure Marks  Algo Marks  Python Marks
2     PH1003     Imran Hossain                  88.0        88.0          92.0
3     PH1004  Jannatul Ferdous                  78.0        78.0          84.0
4     PH1005       Kamal Uddin                   NaN         NaN          97.0
5     PH1006       Laila Begum                  75.0        75.0          78.0
6     PH1007    Mahmudul Hasan                  80.0        80.0           NaN
7     PH1008       Nadia Islam                  81.0        81.0          85.0
8     PH1009        Omar Faruq                  72.0        72.0          76.0
9     PH1010      Priya Sharma                  89.0        89.0          88.0
10    PH1011      Rahim Sheikh                   NaN         NaN          91.0
11    PH1012   Sadia Chowdhury                  85.0        85.0          87.0
12    PH1013      Tanvir Ahmed                  75.0        75.0          79.0
13    PH1014        Urmi Akter                   NaN         NaN           NaN
14    PH1015      Wahiduzzaman                  86.0        86.0          84.0
15    PH1016      Ziaur Rahman                  94.0        94.0           NaN
16    PH1017       Afsana Mimi                  90.0        90.0          93.0
17    PH1018       Babul Ahmed                  88.0        88.0          85.0
18    PH1019      Faria Rahman                   NaN         NaN           NaN
19    PH1020        Nasir Khan                  86.0        86.0          89.0
1        NaN               NaN                   NaN         NaN          90.0

In [130]:
copy = df.sort_values('Data Structure Marks',ascending=False)
copy

   StudentID         Full Name  Data Structure Marks  Algo Marks  Python Marks
15    PH1016      Ziaur Rahman                  94.0        94.0           NaN
16    PH1017       Afsana Mimi                  90.0        90.0          93.0
9     PH1010      Priya Sharma                  89.0        89.0          88.0
2     PH1003     Imran Hossain                  88.0        88.0          92.0
17    PH1018       Babul Ahmed                  88.0        88.0          85.0
14    PH1015      Wahiduzzaman                  86.0        86.0          84.0
19    PH1020        Nasir Khan                  86.0        86.0          89.0
11    PH1012   Sadia Chowdhury                  85.0        85.0          87.0
7     PH1008       Nadia Islam                  81.0        81.0          85.0
6     PH1007    Mahmudul Hasan                  80.0        80.0           NaN
3     PH1004  Jannatul Ferdous                  78.0        78.0          84.0
5     PH1006       Laila Begum                  75.0        75.0          78.0
12    PH1013      Tanvir Ahmed                  75.0        75.0          79.0
8     PH1009        Omar Faruq                  72.0        72.0          76.0
4     PH1005       Kamal Uddin                   NaN         NaN          97.0
10    PH1011      Rahim Sheikh                   NaN         NaN          91.0
13    PH1014        Urmi Akter                   NaN         NaN           NaN
18    PH1019      Faria Rahman                   NaN         NaN           NaN
1        NaN               NaN                   NaN         NaN          90.0

In [132]:
copy = df.sort_values(['Data Structure Marks','Algo Marks'],ascending=False)
copy

   StudentID         Full Name  Data Structure Marks  Algo Marks  Python Marks
15    PH1016      Ziaur Rahman                  94.0        94.0           NaN
16    PH1017       Afsana Mimi                  90.0        90.0          93.0
9     PH1010      Priya Sharma                  89.0        89.0          88.0
2     PH1003     Imran Hossain                  88.0        88.0          92.0
17    PH1018       Babul Ahmed                  88.0        88.0          85.0
14    PH1015      Wahiduzzaman                  86.0        86.0          84.0
19    PH1020        Nasir Khan                  86.0        86.0          89.0
11    PH1012   Sadia Chowdhury                  85.0        85.0          87.0
7     PH1008       Nadia Islam                  81.0        81.0          85.0
6     PH1007    Mahmudul Hasan                  80.0        80.0           NaN
3     PH1004  Jannatul Ferdous                  78.0        78.0          84.0
5     PH1006       Laila Begum                  75.0        75.0          78.0
12    PH1013      Tanvir Ahmed                  75.0        75.0          79.0
8     PH1009        Omar Faruq                  72.0        72.0          76.0
4     PH1005       Kamal Uddin                   NaN         NaN          97.0
10    PH1011      Rahim Sheikh                   NaN         NaN          91.0
13    PH1014        Urmi Akter                   NaN         NaN           NaN
18    PH1019      Faria Rahman                   NaN         NaN           NaN
1        NaN               NaN                   NaN         NaN          90.0

In [ ]:
Filtering Data based on condition

In [ ]:
Python for ML Mid Term